<html>
<head>
    <title>Add it!</title>
    <link href="{{ STATIC_URL }}wiki/bootstrap/css/wiki-bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}wiki/bootstrap/css/wiki-bootstrap-responsive.min.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}wiki/js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}wiki/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/urlify.js"></script>

    <script type="text/javascript">
      // Replacement of django's URLify that doesn't remove any words.
      function URLify(s, num_chars) {
          s = downcode(s);
          removelist = [];
          r = new RegExp('\\b(' + removelist.join('|') + ')\\b', 'gi');
          s = s.replace(r, '');
          // if downcode doesn't hit, the char will be stripped here
          s = s.replace(/[^-\w\s]/g, '');  // remove unneeded chars
          s = s.replace(/^\s+|\s+$/g, ''); // trim leading/trailing spaces
          s = s.replace(/[-\s]+/g, '-');   // convert spaces to hyphens
          s = s.toLowerCase();             // convert to lowercase
          return s.substring(0, num_chars);// trim to first num_chars chars
      }
      {% if not create_form.slug.value %}
      //<![CDATA[   
      (function($) {
          $(document).ready(function (){
              $("#id_title").keyup(function () {
                  var e = $("#id_slug")[0];
                  if(!e._changed) {
                    slug = URLify(this.value, 50);
                    wikislug = slug.replace(/\-/g, " ");
                    wikislug = wikislug.replace(/\w\S*/gi, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1);});
              wikislug = wikislug.replace(/\s*/g, "");
                      e.value = wikislug;
                  }
              });
          });
      })(jQuery);
      //]]>
      {% endif %}
      </script>
</head>
<body>

    <form method='POST' action='{% url create_image_wiki %}'>{% csrf_token %}
      {{ create_form.as_p }}
      <input type='submit' name='Create post' class='btn btn-primary'>
    </form>
</body>
</html>
